**/node_modules/
.env
certbot/
**/arduino_secrets.h
**/database.sqlite

# Environment files
Codice/Ciscusassi/src/environments/environment.prod.ts
Codice/Ciscusassi/src/environments/environment.ts
.env
Codice/Backend/database.sqlite-journal
/.idea
.vscode/settings.json
.vscode/arduino.json
